<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="ribbon ribbon-top-right" *ngIf="product.featured">
        <span>Produk Unggulan</span>
      </div>
      <div class="row">
        <div class="col">
          <img src="{{ product.img }}" alt="" width="100%" />
        </div>
      </div>
      <div class="row tobe-mid text-center text-desc">
        <div class="col-12">
          <span>{{ product.name }}</span>
        </div>
        <div class="col-12">
          <span>Rp. {{ product.price | number }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row tobe-mid">
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-sembako"
          (click)="redirectToTokped(product.name)"
        >
          Pesan Sekarang!
        </button>
      </div>
      <div class="col-1 text-left">
        <span
          class="pointer"
          (click)="openModalDetail(modaldetail, product.description)"
          ><i class="fas fa-info"></i
        ></span>
      </div>
    </div>
  </div>
</div>

<ng-template #modaldetail>
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">Deskripsi Produk</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="descData"></div>
  </div>
</ng-template>
