<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="ribbon ribbon-top-right" *ngIf="product.featured">
        <span>{{ "FEATURED_PRODUCT" | translate }}</span>
      </div>
      <div class="row">
        <div class="col">
          <img src="{{ product.img }}" alt="" width="100%" />
        </div>
      </div>
      <div class="row tobe-mid text-center text-desc">
        <div class="col-12">
          <span>{{ product.name }}</span>
        </div>
        <div class="col-12">
          <span>Rp. {{ product.price | number }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row tobe-mid">
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-sembako"
          (click)="openModalRedirect(modalredirect)"
        >
          {{ "ORDER_NOW" | translate }}
        </button>
      </div>
      <div class="col-1 text-left">
        <span
          class="pointer"
          (click)="openModalDetail(modaldetail, product.description)"
          ><i class="fas fa-info"></i
        ></span>
      </div>
    </div>
  </div>
</div>

<ng-template #modaldetail>
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{ "PRODUCT_DESC" | translate }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="descData"></div>
  </div>
</ng-template>

<ng-template #modalredirect>
  <div class="modal-header">
    <h4 class="modal-title pull-left font-weight-bold">
      {{ "SELECT_PLATFORM" | translate }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center tobe-mid">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <img
          src="https://4.bp.blogspot.com/-j4SyZdrtYTY/XgrrFX4kaUI/AAAAAAAABQQ/RihCfdGXpdkIQUSo3PKFbZFPEijrYejaQCLcBGAsYHQ/s1600/tokopedia.png"
          alt="tokped_logo"
          width="100%"
          class="pointer"
          (click)="redirectPath('tokopedia')"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pointer">
        <img
          src="https://s1.bukalapak.com/ast/sigil/bukalapak-logo-primary.svg"
          alt="bukalapak_logo"
          width="100%"
          class="pointer"
          (click)="redirectPath('bukalapak')"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pointer">
        <img
          src="https://massakublog.files.wordpress.com/2017/04/blibli-logo.png?w=532"
          alt="blibli_logo"
          width="100%"
          class="pointer"
          (click)="redirectPath('blibli')"
        />
      </div>
    </div>
  </div>
</ng-template>
