<div class="row tobe-mid text-center">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img src="/assets/logo/logo-square.png" alt="logo_square" width="300" />
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="card text-justify">
      <div class="card-body">
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste
          deserunt voluptatum, vero voluptates excepturi, in nemo ad velit ut
          numquam temporibus harum dolor dolore officia? Ullam exercitationem ex
          illo!
        </p>
      </div>
    </div>
  </div>
</div>
