<div class="row wrapper-paralax p-3 mt-5">
  <div class="col-12">
    <div class="container">
      <div class="row mb-2">
        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p-sm-1 footer-section-wrapper"
        >
          <div class="row">
            <!-- SITEMAP -->
            <div class="col-12">
              <h4 class="title-head">Sitemap</h4>
              <hr />
              <ul class="footer-list">
                <li class="pointer">Beranda</li>
                <li class="pointer">Produk</li>
                <li class="pointer">Tentang Kami</li>
                <li class="pointer">Kontak</li>
              </ul>
            </div>
            <!-- CONTACT -->
            <div class="col-12">
              <h4 class="title-head">Kontak Kami</h4>
              <hr />
              <app-contact></app-contact>
            </div>
          </div>
        </div>
        <!-- EMAIL -->
        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 p-sm-1 footer-section-wrapper"
        >
          <h4 class="title-head">Kritik & Saran</h4>
          <hr />
          <form>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Nama Lengkap</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nama Lengkap *"
                  />
                  <small class="text-danger">Error</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label>Alamat E-mail *</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Masukkan E-mail Anda"
                  />
                  <small class="text-danger">Error</small>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label>Nomor HP (Opsional)</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Masukkan Nomor Handphone"
                  />
                  <small class="text-danger">Error</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Pesan *</label>
                  <textarea class="form-control" rows="3"></textarea>
                  <small class="text-danger">Error</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-sembako btn-block">
                  Kirim
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          Sahabat Sembako © 2020
        </div>
        <div class="col-12">
          <span style="font-size: 9px;"
            >"Made with <i class="fas fa-heart"></i> &
            <i class="fas fa-coffee"></i> by @robyenata | @febritriakbar"</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
