<div class="row wrapper-paralax p-3 mt-5">
  <div class="col-12">
    <div class="container">
      <div class="row mb-2">
        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p-sm-1 footer-section-wrapper"
        >
          <div class="row">
            <!-- SITEMAP -->
            <div class="col-12">
              <h4 class="title-head">Sitemap</h4>
              <hr />
              <ul class="footer-list">
                <li class="pointer">{{ "HOME" | translate }}</li>
                <li class="pointer">{{ "PRODUCT" | translate }}</li>
                <li class="pointer">{{ "ABOUT_US" | translate }}</li>
                <li class="pointer">{{ "CONTACT" | translate }}</li>
              </ul>
            </div>
            <!-- CONTACT -->
            <div class="col-12">
              <h4 class="title-head">{{ "CONTACT_US" | translate }}</h4>
              <hr />
              <app-contact></app-contact>
            </div>
          </div>
        </div>
        <!-- EMAIL -->
        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 p-sm-1 footer-section-wrapper"
        >
          <h4 class="title-head">{{ "CRIT_SUGGESTION" | translate }}</h4>
          <hr />
          <form [formGroup]="fg" (submit)="sendEmail()">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>{{ "FULL_NAME" | translate }}</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                    placeholder="{{ 'FULL_NAME' | translate }}"
                    oninput="this.value =
                  this.value.toUpperCase()"
                  />
                  <small
                    class="form-text text-danger"
                    *ngIf="fg.get('name').errors && submitted"
                  >
                    {{ fg.controls.name.errors?.required?.message }}
                    {{ fg.controls.name.errors?.pattern?.message }}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label>{{ "EMAIL_ADDRESS" | translate }} *</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="{{ 'EMAIL_ADDRESS' | translate }}"
                    formControlName="email"
                  />
                  <small
                    class="form-text text-danger"
                    *ngIf="fg.get('email').errors && submitted"
                  >
                    {{ fg.controls.email.errors?.required?.message }}
                    {{ fg.controls.email.errors?.email?.message }}
                  </small>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                  <label
                    >{{ "PHONE_NUMBER" | translate }} ({{
                      "OPTIONAL" | translate
                    }})</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="{{ 'PHONE_NUMBER' | translate }}"
                    formControlName="phone_number"
                  />
                  <small
                    class="form-text text-danger"
                    *ngIf="fg.get('phone_number').errors && submitted"
                    >{{ fg.controls.phone_number.errors?.required?.message }}
                    {{ fg.controls.phone_number.errors?.numeric?.message }}
                    {{ fg.controls.phone_number.errors?.minLength?.message }}
                    {{ fg.controls.phone_number.errors?.maxLength?.message }}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>{{ "MESSAGE" | translate }} *</label>
                  <textarea
                    class="form-control"
                    rows="3"
                    formControlName="message"
                  ></textarea>
                  <small
                    class="form-text text-danger"
                    *ngIf="fg.get('message').errors && submitted"
                  >
                    {{ fg.controls.message.errors?.minLength?.message }}
                    {{ fg.controls.message.errors?.maxLength?.message }}
                    {{ fg.controls.message.errors?.required?.message }}
                  </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-sembako btn-block">
                  {{ "SEND" | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          Sahabat Sembako © 2020
        </div>
        <div class="col-12">
          <span style="font-size: 9px;"
            >"Made with <i class="fas fa-heart"></i> &
            <i class="fas fa-coffee"></i> by @robyenata | @febritriakbar"</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
