<div class="text-white" style="z-index: 100;">
  <div class="container">
    <div class="row tobe-mid text-center">
      <div class="col">
        <img src="/assets/logo/logo-square.png" alt="logo_square" id="logo" />
      </div>
    </div>
    <div class="row tobe-mid text-center">
      <div class="col">
        <span class="pointer">Beranda</span>
      </div>
      <div class="col">
        <span class="pointer">Produk</span>
      </div>
      <div class="col">
        <span class="pointer">Tentang Kami</span>
      </div>
      <div class="col">
        <span class="pointer">Kontak</span>
      </div>
    </div>
  </div>
</div>
